
body
{
	padding:30px;
}
*{
	 padding:0;
	 margin:0;								
}

nav, h1 
{
	margin:20px;
	float:left;
	width:100%;
}

.h_nav li
{
	font-family:Verdana;
	display:inline-block;
	list-style-type:none;
	width:160px;
	height:100%;
	float:left;
	border-right:1px solid yellow;
	background-color:green;
}

.h_nav a 
{	
	text-decoration:none;
	color:yellow;
	text-align:center;
	display:block;
	height:100%;
	padding:15px;
	
}

.h_nav li:first-child 
{
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}

.h_nav li:last-child 
{
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}

.h_nav a:hover
{
	color:red;
	background-color:pink;
}

.h_nav li:last-child
{
	border-right:none;
}



.v_nav li
{
	font-family:Verdana;
	list-style-type:none;
	width:160px;
	height:100%;	
	border-bottom:1px solid yellow;
	background-color:green;
}

.v_nav a 
{	
	text-decoration:none;
	color:yellow;
	text-align:left;
	display:block;
	height:100%;
	padding:15px;
}

.v_nav li:first-child 
{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.v_nav li:last-child 
{
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.v_nav a:hover
{
	color:red;
	background-color:pink;

}
.v_nav li:last-child
{
	border-bottom:none;
}


.d_nav li
{
	font-family:Verdana;
	list-style-type:none;
	display:inline-block;
	position:relative;
	width:160px;
	height:100%;	
	float:left;
	border-right:1px solid yellow;
	background-color:green;
}

.d_nav a 
{	
	text-decoration:none;
	color:yellow;
	text-align:center;
	display:block;
	height:100%;
	padding:15px;	
}

.d_nav li>ul>li
{
	border-bottom:1px solid yellow;
	border-right:none;
}
.d_nav li>ul>li:first-child
{
	border-top:1px solid yellow;
}
.d_nav li>ul>li:last-child
{
	border-bottom:none;
}

.d_nav li>ul>li:first-child 
{
	border-top-left-radius:0px;
}

.d_nav li>ul>li:last-child 
{
	border-top-right-radius:0px;
}

.d_nav  a:hover{
	
	background:red;
}

.d_nav li ul 
{
	display:none;
}

.d_nav li:hover ul
{
	display:block;
}

.d_nav li:first-child 
{
	border-top-left-radius:5px;
}
.d_nav li:last-child 
{
	border-top-right-radius:5px;
}

.f_nav li
{
	font-family:Verdana;
	list-style-type:none;
    position:relative;
	width:160px;
	height:100%;	  
	border-bottom:1px solid yellow;
	background-color:green;
}

.f_nav li:last-child
{
	border-bottom:none;
}

.f_nav a 
{	
	text-decoration:none;
	color:yellow;
	text-align:left;
	display:block;
	height:100%;
	padding:15px;
}
.f_nav li:first-child 
{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.f_nav li:last-child 
{
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.f_nav li ul
{
	position:absolute;
    display:none;
	left:160px;
	top:0px;
}
.f_nav  a:hover
{
	background:red;
}

.f_nav li:hover ul
{
	color:red;
	display:block;
}





